body {
	font-size: 13px;
	background: url('../img/pattern.png');
	min-width: 300px;
	font-family: Arial;
	color: rgb(85,85,85);
}
body header {
	margin: 50px 0px;
}
body a {
	color: rgb(53,189,245);
}
body header .logo {
	display: block;
	width: 120px;
	height: 35px;
}

body nav ul.menu {
	max-width: 700px;
	display: block;
	padding: 0;
	margin-bottom: -1px;
}
body nav ul.menu li {
	list-style: none;
	display: inline-block;
	margin: 0px 10px;
	padding: 10px 20px;
	font-size: 14px;
}
body nav ul.menu li a {
	color: rgb(68,68,68);
}
body nav ul.menu li a:hover {
	color: rgb(241,78,35);
	text-decoration: none;
}
body nav ul.menu li.active {
	background: rgb(255, 255, 255);
	border-left: 1px solid rgb(231,231,231);
	border-top: 1px solid rgb(231,231,231);
	border-right: 1px solid rgb(231,231,231);
}
body nav ul.menu li.active a {
	color: rgb(241,78,35);
}
body nav button {
	background: transparent;
	border: transparent;
	font-size: 20px;
}
body header .search form {

}
body header .search form input {
	border: 1px solid rgb(238,238,238);
	color: rgb(241,78,35);
	padding: 5px;
	background: rgb(255, 255, 255);
}
body header .search form button {
	background: rgb(255, 255, 255);
	border: 1px solid rgb(221,221,221);
	color: rgb(53,189,245);
	padding: 5px 10px;
}


body .content .bg {
	background: rgba(255, 255, 255, 1);
	padding: 25px;
	border: 1px solid rgb(231,231,231);
}
body .content .box {
	margin-bottom: 20px;
}
body .content .box .title {
	margin: 5px 0px;
	color: rgb(53,189,245);
	display: inline-block;
}
body .content .box .date {
	margin: 5px 0px;
	color: rgb(136,136,136);
	font-size: 12px;
}
body .content .box .text {
	margin: 10px 0px;
}
body .content .box .title {
	font-size: 14px;
}
body .content .box .items {
	float: right;
	font-size: 12px;
}
body .content .box .items .print {
	display: inline;
	margin-right: 15px;
}
body .content .box .items .print:before {
	font-family: 'FontAwesome';
	content: "\f02f";
	margin-right: 5px;
}
body .content .box .items .comments {
	display: inline;
	margin-right: 15px;
}
body .content .box .items .comments:before {
	font-family: 'FontAwesome';
	content: "\f086";
	margin-right: 5px;
}
body .content .box .items .link {
	display: inline;
}
body .content .box .items .link:before {
	font-family: 'FontAwesome';
	content: "\f14c";
	margin-right: 5px;
}
body .content .right_box {
	background: rgba(251, 251, 251, 1);
	border: 1px solid rgba(238, 238, 238, 1);
	padding: 20px;
	margin-bottom: 30px;
	/*position: relative;*/
}
body .content .right_box:before {
	content: "";
	background: url('../img/paperclip.png') 0px 0px no-repeat;
	height: 70px;
	width: 70px;
	position: absolute;
	top: -28px;
	left: -9px;
}
body .content .right_box .title {
	font-size: 16px;
}
body .content .right_box .info_news {
	margin: 10px 0px;
	font-size: 13px;
}
body .content .right_box .all_news {
	margin: 10px 0px;
}
body .content .right_box .link:before {
	font-family: 'FontAwesome';
	content: "\f14c";
	font-size: 10px;
	margin-right: 5px;
}
body .content .right_box .last_comments {
	margin: 10px 0px;
}
body .content .right_box .last_comments .user {
	color: rgb(241,78,35);
}
body .content .right_box .last_comments a:before {
	font-family: 'FontAwesome';
	content: "\f14c";
}
body .content .right_box .last_comments .user:before {
	font-family: 'FontAwesome';
	content: "\f007";
	color: rgb(53,189,245);
}
body .content .right_box .list {
	margin: 5px 0px;
}
body .content .right_box .list .statistic{
	color: rgb(241,78,35);
}

body .content .text h1 {
	color: rgb(241,78,35);
	font-size: 16px;
	margin: 0px;
}
body .content .text .block {
	margin: 15px 0px;
}
body .content .text .date {
	margin: 5px 0px;
	color: rgb(136,136,136);
	font-size: 12px;
}
body .content .comments .name {
	color: rgb(241,78,35);
	font-size: 22px;
	margin: 10px 0px;
}
body .content .comments .user {
	color: rgb(241,78,35);
}
body .content .comments .user:before {
	font-family: 'FontAwesome';
	content: "\f007";
	color: rgb(53,189,245);
	margin-right: 5px;
}
body .content .comments .date {
	margin: 5px 0px;
	color: rgb(136,136,136);
	font-size: 12px;
}

body footer {
	margin: 30px 0px;
}

.comments-registration {
	margin-top: 20px;
	font-size: 15px;
}

